body{
    font-family: 'Rancho', cursive;
    font-size: 1.5em;




    background: rgba(212,212,212,1);
    background: -moz-linear-gradient(top, rgba(212,212,212,1) 0%, rgba(204,204,204,1) 66%, rgba(194,194,194,1) 69%, rgba(0,0,0,1) 99%, rgba(0,0,0,1) 100%);

}
.menu{
    background: #000000;
    color: #ffffff;
}

.a-menu{
    color: #ffffff !important;
}

.logo{
    width: 100px;
    height: 10%;
}

h1, h2, h3,h4{
    font-size: 3em;
}

.c-caja{
    margin: 0 auto;
}
.caja{
    margin-top: 10px;
    text-decoration: none;
}

.caja:hover{
    transform: scale(1.05);
    transition: 1s;
    z-index: 100;
}

.links:hover{
    background-color: #EB7947;
    transition: 1s;
    border-radius: 10px;
}


.nav-link{
    display: block;
    padding: .5rem 1rem;
}

/* Menu de usuarios */

.menu_users{
    background:#EB7947 !important;
    border-color: transparent !important;
}
/* Contenido de Dashboard */

/*.bg_dashboard{*/
    /*background: #0B2341; !* For browsers that do not support gradients *!*/
    /*background: linear-gradient(to right, #0B2341 , #2A5788);*/
/*}*/

.c_white{
    color: #ffffff !important;
}

.c_black{
    color:  #000 !important;
}